<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <meta-data
        android:name="com.google.android.gms.ads.gymtimerAds1256"
        android:value="ca-app-pub-3866044541725967~8626697260"/>
    <application
        android:usesCleartextTraffic="true"
        tools:targetApi="28"
        tools:ignore="GoogleAppIndexingWarning"

    />
</manifest>
